video {
    background-color: rgb(0, 0, 0) !important;
}

audio {
    display: none !important;
}

video::-webkit-media-controls-panel {
    display: -webkit-box !important;
    -webkit-box-align: center !important;
    -webkit-box-pack: center !important;
    width: 100% !important;
    height: 100% !important;
}

video:-webkit-full-page-media::-webkit-media-controls-panel {
    display: none !important;
}

video::-webkit-media-controls-mute-button {
    display: none !important;
}

video::-webkit-media-controls-play-button {
    display: -webkit-box !important;
    -webkit-box-align: center !important;
    -webkit-box-pack: center !important;
    width: 96px !important;
    height: 96px !important;
}

video::-webkit-media-controls-timeline-container {
    display: none !important;
}

video::-webkit-media-controls-current-time-display {
    display: none !important;
}

video::-webkit-media-controls-time-remaining-display {
    display: none !important;
}

video::-webkit-media-controls-timeline {
    display: none !important;
}

video::-webkit-media-controls-volume-slider {
    display: none !important;
}

video::-webkit-media-controls-seek-back-button {
    display: none !important;
}

video::-webkit-media-controls-seek-forward-button {
    display: none !important;
}

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

video::-webkit-media-controls-rewind-button {
    display: none !important;
}

video::-webkit-media-controls-return-to-realtime-button {
    display: none !important;
}

video::-webkit-media-controls-toggle-closed-captions-button {
    display: none !important;
}

video::-webkit-media-controls-volume-slider-mute-button {
    display: none !important;
}

video::-webkit-media-controls-fullscreen-volume-slider {
    display: none !important;
}

video::-webkit-media-controls-fullscreen-volume-min-button {
    display: none !important;
}

video::-webkit-media-controls-fullscreen-volume-max-button {
    display: none !important;
}
